* {
  box-sizing: border-box;
}
@import "colorsets/init";

body {
  position: absolute;
  font-family: "helvetica";
  font-size: 0.9em;
  font-weight: 900;
  letter-spacing: 0.1em;
  margin: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: $bg;
  overflow: hidden;
}
input,
select,
textarea {
  width: calc(100%);
  margin-top: 5px;
}
input[type="checkbox"] {
  float: left;
  width: 32px;
}
#check {
  margin-top: 0.5em;
  float: left;
  height: 100%;
  width: 100%;
  font-size: 1.3em;
}
#logo {
  margin: 0;
  padding: 0;
}
#logIMG {
  margin-top: 2px;
  height: 18px;
  width: auto;
}
#landingTemp,
#walletTemp,
#appTemp,
#serviceTemp,
#teamTemp,
#aboutTemp,
#netTemp,
#modalTemp,
#userFormTemp {
  display: none;
}
@media screen and (max-width: 624px) {
  @import "layouts/mobil";
}
@media screen and (min-width: 625px) {
  @import "layouts/tab";
}
@media screen and (min-width: 1150px) {
  @import "layouts/pc";
}
