* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;


}

#initgo {
  @import "colorsets/init.scss";
  background: $bc;
  color: $fc;
  .err {
    border: 1px solid $close;
  }
  a {
    color: $bc;
  }
  #nav,
  #foot,
  #stage {
    background: $bc;
  
  }
  #mobnav {
    background: $bg;
  }
  #mobNavList {
    background: $bg;
    color: $fc;
  }
  #closemob {
    background: $bc;
    color: $fc;
  }
  #closemob:hover {
    background: $close;
  }
  .thick1,
  .thick2,
  #mobbtn {
    background: $fc;
  }
  .link:hover,
  .mlink:hover,
  #contact:hover,
  #imprint:hover,
  #terms:hover,
  #mcontact:hover,
  #mimprint:hover,
  #mterms:hover {
    background: $bc;
  }
  #admin,
  #madmin {
    background: $bg;
    color: $bc;
  }
  .line {
    background: $border;
  }
  input,
  select,
  textarea,
  button {
    border: 1px solid $border;
  }
  input {
    margin: 10px 5px;

    border-radius: 1px;
    border: 1px solid white;
  }
  button {
    background: $ld;
    color: $bc;
  }
  button:hover {
    background: $bc;
    color: $ld;
  }
  #loader,
  #square:hover {
    background: $bc;
  }
  #loader:hover,
  #square {
    background: $ld;
  }
}

#init {
  @import "colorsets/init.scss";
  background: $bc;
  color: $fc;
  text-align: center;
  padding-left: 0;
}

#ecogo {
  @import "colorsets/eco.scss";
  background: $bc;
  color: $fc;
  .err {
    border: 1px solid $close;
  }
  a {
    color: $bc;
  }
  #nav,
  #foot,
  #stage {
    background: $bc;
    background: linear-gradient(90deg, rgba($bc, 0.5) 20%, rgba($ld, 1) 80%);
  }
  #mobnav {
    background: $bg;
  }
  #mobNavList {
    background: $bg;
    color: $fc;
  }
  #closemob {
    background: $bc;
    color: $fc;
  }
  #closemob:hover {
    background: $close;
  }
  .thick1,
  .thick2,
  #mobbtn {
    background: $bg;
  }
  .link:hover,
  .mlink:hover,
  #contact:hover,
  #imprint:hover,
  #terms:hover,
  #mcontact:hover,
  #mimprint:hover,
  #mterms:hover {
    background: $bc;
  }
  #admin,
  #madmin {
    background: $bg;
    color: $bc;
  }
  .line {
    background: $border;
  }
  input,
  select,
  textarea,
  button {
    border: 1px solid $border;
  }
  input {
    justify-content: center;
    align-items: center;
  }
  button {
    background: $ld;
    color: $bc;
  }
  button:hover {
    background: $bc;
    color: $ld;
  }
  #loader,
  #square:hover {
    background: $bc;
  }
  #loader:hover,
  #square {
    background: $ld;
  }
}
#eco {
  @import "colorsets/eco.scss";
  background: $bc;
  color: $fc;
  text-align: center;
  padding-left: 0;
}

#iriego {
  @import "colorsets/irie.scss";
  background: $bc;
  color: $fc;
  .err {
    border: 1px solid $close;
  }
  a {
    color: $bc;
  }
  #nav,
  #foot,
  #stage {
    background: $bc;
    background: linear-gradient(90deg, rgba($bc, 0.5) 20%, rgba($ld, 1) 80%);
  }
  #mobnav {
    background: $bg;
  }
  #mobNavList {
    background: $bg;
    color: $fc;
  }
  #closemob {
    background: $bc;
    color: $fc;
  }
  #closemob:hover {
    background: $close;
  }
  .thick1,
  .thick2,
  #mobbtn {
    background: $fc;
  }
  .link:hover,
  .mlink:hover,
  #contact:hover,
  #imprint:hover,
  #terms:hover,
  #mcontact:hover,
  #mimprint:hover,
  #mterms:hover {
    background: $bc;
  }
  #admin,
  #madmin {
    background: $bg;
    color: $bc;
  }
  .line {
    background: $border;
  }
  input,
  select,
  textarea,
  button {
    border: 1px solid $border;
  }
  button {
    background: $ld;
    color: $bc;
  }
  button:hover {
    background: $bc;
    color: $ld;
  }
  #loader,
  #square:hover {
    background: $bc;
  }
  #loader:hover,
  #square {
    background: $ld;
  }
}
#irie {
  @import "colorsets/irie.scss";
  background: $bc;
  color: $fc;
  text-align: center;
  padding-left: 0;
}

#moderngo {
  @import "colorsets/modern.scss";
  background: $bc;
  color: $fc;
  .err {
    border: 1px solid $close;
  }
  a {
    color: $bc;
  }
  #nav,
  #foot,
  #stage {
    background: $bc;
    background: linear-gradient(90deg, rgba($bc, 0.5) 20%, rgba($ld, 1) 80%);
  }
  #mobnav {
    background: $bg;
  }
  #mobNavList {
    background: $bg;
    color: $fc;
  }
  #closemob {
    background: $bc;
    color: $fc;
  }
  #closemob:hover {
    background: $close;
  }
  .thick1,
  .thick2,
  #mobbtn {
    background: $bg;
  }
  .link:hover,
  .mlink:hover,
  #contact:hover,
  #imprint:hover,
  #terms:hover,
  #mcontact:hover,
  #mimprint:hover,
  #mterms:hover {
    background: $bc;
  }
  #admin,
  #madmin {
    background: $bg;
    color: $bc;
  }
  .line {
    background: $border;
  }
  input,
  select,
  textarea,
  button {
    border: 1px solid $border;
  }
  button {
    background: $ld;
    color: $bc;
  }
  button:hover {
    background: $bc;
    color: $ld;
  }
  #loader,
  #square:hover {
    background: $bc;
  }
  #loader:hover,
  #square {
    background: $ld;
  }
}
#modern {
  @import "colorsets/modern.scss";
  background: $bc;
  color: $fc;
  text-align: center;
  padding-left: 0;
}

body {
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.01em;
  margin: 0 ;

  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
input,
select,
textarea {
  width: calc(100%);
  margin-top: 5px;
  height: 33px;
  border-radius: 9px;
}
input[type="checkbox"] {
  float: left;
  width: 24px;
}
#check {
  margin-top: 0.5em;
  float: left;
  height: 100%;
  width: 50%;
  font-size: 1em;
}
#logo {
  margin: 0;
  padding: 0;
}
#copytag {
  grid-column: 2;
  grid-row: 1;
  font-weight: 100;
  padding-top: 4px;
}
#logIMG {
  margin-top: 2px;
  height: 18px;
  width: auto;
}
#landingTemp,
#walletTemp,
#appTemp,
#serviceTemp,
#teamTemp,
#aboutTemp,
#netTemp,
#modalTemp,
#userFormTemp,
#adminTemp,
#contactTemp,
#termsTemp,
#imprintTemp,
#userProfileTemp,
#adminProfileTemp {
  display: none;
}
.tiny {
  font-size: 0.8em;
  font-weight: 100;
  width: 100%;
  float: left;
}
.half {
  width: calc(50% - 2em);
  margin-left: 1em;
  float: left;
}
.sbox,
.bbox,
.ibox,
#serviceModule {
  grid-column: 1/-1;
}
input,
textarea,
select,
option {
  padding-left: 2em;
}
button {
  border-radius: 9px;
  font-size: 2em;
  height: 66px;
}
#loader {
  width: 32px;
  height: 32px;
  padding: 5px;
  margin-left: 0.5em;
  border-radius: 50%;
  float: left;
  display: none;
}
#square {
  width: 22px;
  height: 22px;
  border-radius: 5%;
}
#micro {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  float: left;
  margin-top: -3px;
  padding: 0;
  justify-self: center;
}
@media screen and (max-width: 624px) {
  @import "layouts/mobil";
}
@media screen and (min-width: 625px) {
  @import "layouts/tab";
}
@media screen and (min-width: 1150px) {
  @import "layouts/pc";
}
